
/* 테이블 스타일 */
.tables {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tables > th,
  .tables > td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .tables > th {
    background-color: #f2f2f2;
  }
  
  /* 액션 버튼 스타일 */
  .action-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
  }
  
  .action-btn:hover {
    background-color: #45a049;
  }
  

  /* 모달 스타일 */
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 1200px;
    height: 800px;
    position: relative;
    overflow-y: auto; /* 세로 스크롤 활성화 */
  }
  
  .modal-header {
    margin-bottom: 50px;
    font-size: 20pt;
    font-weight: bold;
  }

  .modal-element {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .close-btn {
    color: rgb(255, 174, 0);
    position: absolute;
    top: 1px;
    right: 20px;
    font-size: 50px;
    cursor: pointer;
  }

  .close-btn:hover {
    color: rgb(204, 139, 0);
  }