p{
    font-size: 45px;
    text-align: center;
}
th{
    arginLeft:"auto"; 
    marginRight:'auto'; 
    marginTop:"3px"; 
    marginBottom:"3px";
    text-align: center;
    font-weight: 600; 
    padding: 15px;
    border-left: 1px solid orange;
    border-collapse: collapse;

   
}

.selectBox option {
  background: rgb(250 204 21);
  color: black;
  padding: 3px 0;
  font-size: 16px;
}

img{
  margin: auto;
  display: block;
}
.pobutton{
  text-align: right;
  padding-right: 190px;
}

